astroid==3.1.0
black==24.2.0
build==1.1.1
cachetools==5.3.3
cfgv==3.4.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
exceptiongroup==1.2.0
filelock==3.13.1
identify==2.5.35
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.6.2
pygame==2.5.2
pylint==3.1.0
pyproject-api==1.6.1
pyproject_hooks==1.0.0
pytest==8.0.2
PyYAML==6.0.1
tomli==2.0.1
tomlkit==0.12.4
tox==4.14.1
typing_extensions==4.10.0
virtualenv==20.25.1
