build==1.1.1
cachetools==5.3.3
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
exceptiongroup==1.2.0
filelock==3.13.1
iniconfig==2.0.0
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pygame==2.5.2
pyproject-api==1.6.1
pyproject_hooks==1.0.0
pytest==8.0.2
tomli==2.0.1
tox==4.14.1
virtualenv==20.25.1
